<div class="lender-container">
    <div class="flex justify-between items-center mb-6">
        <h2 class="headline">Lenders</h2>
    </div>

    <div *ngIf="loading" class="text-center my-8">
        <p>Loading lenders...</p>
    </div>

    <div *ngIf="!loading && lenders.length === 0" class="text-center">
        <p class="text-lg">You haven't added your lender information.</p>
        <p class="mt-2">Get started.</p>
        <button routerLink="/lender-registration" class="lender-add-button">
            Add Lender
        </button>
    </div>

    <div *ngIf="!loading && lenders.length > 0" class="lender-table">
        <table class="lender-header">
            <thead class="lender-title">
                <tr class="lender-content">
                    <th class="lender-info left">Contact Name</th>
                    <th class="lender-info">Company Name</th>
                    <th class="lender-info">Location</th>
                    <th class="lender-info">Min/Max Loan</th>
                    <th class="lender-info right">Lender Type(s)</th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                <tr *ngFor="let lender of lenders" class="hover:bg-gray-50 border-b cursor-pointer"
                    [routerLink]="['/lender-details', lender.id!]">
                    <td class="lender-detail">
                        {{ lender.contactInfo?.firstName }} {{ lender.contactInfo?.lastName }}
                    </td>
                    <td class="lender-detail">{{ lender.contactInfo?.company }}</td>
                    <td class="lender-detail">
                        {{ lender.contactInfo?.city }}, {{ lender.contactInfo?.state }}
                    </td>
                    <td class="lender-detail">
                        ${{ lender.productInfo?.minLoanAmount | number }} - ${{
                        lender.productInfo?.maxLoanAmount | number }}
                    </td>

                    <td class="lender-detail">
                        <span *ngIf="lender.productInfo?.lenderTypes">
                            <span *ngFor="let type of lender.productInfo?.lenderTypes; let last = last">
                                {{ type }}{{ !last ? ', ' : '' }}
                            </span>
                        </span>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>