<div class="card-container">
    <!-- Card 1 -->
    <div class="card">
        <div class="card-section header">
            <h3 class="title">Single Posting</h3>
        </div>
        <div class="card-section content">
            <h4 class="price">$50.00 per post</h4>
            <ul class="feature-list">
                <li>Pay per loan posting</li>
                <li>Contact lenders to view your loan</li>
                <li>Access to better pricing</li>
                <li>Access to thousands of lenders nationwide</li>
                <li>Analytics dashboard</li>
                <li>Meet & work with new lenders</li>
            </ul>
        </div>
        <div class="card-section footer">
            <a href="/login" class="card-button login-btn">Select</a>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
        <div class="card-section header">
            <h3 class="title">Team Posting</h3>
        </div>
        <div class="card-section content">
            <h4 class="price">$250/monthly</h4>
            <ul class="feature-list">
                <li>Unlimited Loan postings</li>
                <li>Contact lenders to view your loan</li>
                <li>Access to better pricing</li>
                <li>Access to thousands of lenders nationwide</li>
                <li>Analytics dashboard</li>
                <li>Meet & work with new lenders</li>
            </ul>
        </div>
        <div class="card-section footer">
            <a href="/login" class="card-button login-btn">Select</a>
        </div>
    </div>
</div>