.terms-container {
  width: 1000px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #cdcdcd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title,
.sub-title,
.sub-content,
.content,
p {
  color: #0a2463;
  font-family: "roboto", sans-serif;
}
.sub-title {
  font-size: 1.5rem;
  margin: 10px;
}
.sub-content {
  font-size: 1.2rem;
}
.content {
  margin-top: 10px;
  margin-bottom: 20px;
}
