<div class="lender-container">
    <div class="form-wrapper">
        <h2 class="headline">Lender Registration</h2>

        <!-- Form content -->
        <div *ngIf="currentStep === 0">
            <app-lender-contact [parentForm]="lenderForm"></app-lender-contact>
        </div>

        <div *ngIf="currentStep === 1">
            <app-lender-product [parentForm]="lenderForm" [lenderTypes]="lenderTypes"></app-lender-product>
        </div>

        <div *ngIf="currentStep === 2">
            <app-lender-footprint [parentForm]="lenderForm" [states]="states"></app-lender-footprint>
        </div>

        <!-- Simple buttons with no conditional logic -->
        <div>
            <button id="previous" (click)="prevStep()">
                Previous
            </button>

            <button id="next" (click)="nextStep()">
                Next
            </button>

            <button id="submit" (click)="submitForm()">
                Submit
            </button>
        </div>
    </div>
</div>