<!-- src/app/lender-registration/lender-registration.component.html -->

<div class="registration-container">
    <h2 class="title">Lender Registration</h2>

    <div class="steps-container">
        <div class="step" [ngClass]="{'active': currentStep === 0, 'completed': currentStep > 0}">
            Contact Information
        </div>
        <div class="step" [ngClass]="{'active': currentStep === 1, 'completed': currentStep > 1}">
            Product Details
        </div>
        <div class="step" [ngClass]="{'active': currentStep === 2, 'completed': currentStep > 2}">
            Lending Footprint
        </div>
        <div class="step" [ngClass]="{'active': currentStep === 3}">
            Review
        </div>
    </div>

    <div class="form-container">
        <form [formGroup]="lenderForm">
            @if (currentStep === 0) {
            <app-lender-contact [lenderForm]="contactForm" [states]="states"></app-lender-contact>
            } @else if (currentStep === 1) {
            <app-lender-product [lenderForm]="productForm" [lenderTypes]="lenderTypes"
                [propertyCategories]="propertyCategories" [states]="states" [loanTypes]="loanTypes">
            </app-lender-product>
            } @else if (currentStep === 2) {
            <app-lender-footprint [lenderForm]="lenderForm" [footprintLocation]="states">
            </app-lender-footprint>

            } @else if (currentStep === 3) {
            <app-lender-review [lenderForm]="lenderForm" [states]="states" [lenderTypes]="lenderTypes"
                [propertyCategories]="propertyCategories" [loanTypes]="loanTypes">
            </app-lender-review>
            }

            @if (errorMessage) {
            <div class="error-message">{{ errorMessage }}</div>
            }

            @if (successMessage) {
            <div class="success-message">{{ successMessage }}</div>
            }

            <div class="button-container">
                @if (currentStep > 0) {
                <button type="button" class="btn btn-secondary" (click)="prevStep()">
                    Previous
                </button>
                }

                @if (currentStep < 3) { <button type="button" class="btn btn-primary" (click)="nextStep()"
                    [disabled]="!getStepFormGroup().valid">
                    Next
                    </button>
                    }

                    @if (currentStep === 3) {
                    <button type="button" class="btn btn-success" [disabled]="!lenderForm.valid" (click)="submitForm()">
                        Submit
                    </button>
                    }
            </div>
        </form>
    </div>
</div>