.grid-container {
  margin-bottom: 100px;
  margin-top: 30px;
}
.home-container {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.sub-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
.button {
  text-align: center;
  margin: 20px 0px 40px;
}
.begin-button:hover {
  background-color: #0a2463;
  border: solid 2px yellow;
}
.begin-button:disabled {
  background-color: #cdcdcd;
  border: solid 2px #272727;
}
.begin-button {
  background-color: #008080;
  color: #fff;
  padding: 5px 30px;
  font-family: "Roboto" sans-serif;
  border-radius: 6px;
  font-size: 2rem;
  font-weight: 400;
  margin: 0px 0px 5px 30px;
}
.steps-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-title {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
}

.steps-list {
  width: 100%;
  max-width: 800px;
  padding: 0;
  font-size: 1.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-item {
  width: 100%;
  margin-bottom: 1.5rem;
}

.step-content {
  display: flex;
  text-align: left;
  align-items: flex-start;
}

.step-icon {
  margin-right: 1rem;
  font-size: 2.5rem;
  color: #0a2463;
}

.step-text {
  display: flex;
  flex-direction: column;
}

.step-text strong {
  margin-bottom: 0.25rem;
  font-size: 1.75rem;
}
.step-text p {
  margin: 0;
}
.card {
  margin: 40px;
}
.card-header {
  border-radius: 4px;
}
.categories {
  background-color: #0a2463;
  padding: 20px;
  border-radius: 4px 4px 0px 0px;
}
.property-types {
  background-color: #008080;
  padding: 20px;
  border-radius: 4px 4px 0px 0px;
}
.card-body {
  color: #0a2463;
}
.title {
  color: #fff;
}

.headline {
  color: #0a2463;
}
.lender-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-left: 1rem;
  list-style-type: none;
}

.lender-columns li {
  padding-bottom: 0.5rem;
}
.lender-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-left: 1rem;
  list-style-type: none;
}
.lender-columns li {
  padding-bottom: 0.5rem;
  font-weight: 500;
}
.property-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-left: 0;
}

.property-columns ul {
  list-style-type: none;
  padding-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.property-columns li {
  font-weight: 500;
}

.property-columns strong {
  display: block;
  font-size: 1.1em;
}
