<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a routerLink="/">
        <img class="nav-image" src="assets/images/DLP_LOGO_Fav.webp" alt="DLP Logo" />
      </a>
    </div>

    <div class="navbar-actions">
      <div class="register" *ngIf="!isLoggedIn">
        <a (click)="openRoleSelectionModal()" id="nav-register" class="nav-reg-btn">Register</a>
      </div>

      <div class="register" *ngIf="!isLoggedIn">
        <a routerLink="/calculators" class="calc-btn">Calculators</a>
      </div>

       
      <div class="register" *ngIf="!isLoggedIn">
        <a routerLink="/ebooks" id="ebooks-navbar" class="ebooks-btn">eBooks</a>
      </div>

       <div *ngIf="!isLoggedIn" class="auth-links">
        <a routerLink="/login" class="login-btn" id="login">Log In</a>
        <a routerLink="/pricing" class="pricing" id="view-pricing">Pricing</a>
      </div>

      <div class="nav-menu">
        <a *ngIf="isLoggedIn && userRole === 'originator'" routerLink="/lender-list" class="all-loans">Lenders</a>
        <a *ngIf="isLoggedIn && userRole === 'lender'" routerLink="/loans" class="all-loans">Loans</a>
      </div>

     

      <div *ngIf="isLoggedIn" class="user-menu">
        <a [routerLink]="userRole === 'lender' ? '/dashboard' : '/dashboard'" class="dashboard-link">
          Dashboard
        </a>

        <div class="account-dropdown">
          <button type="button" (click)="toggleAccountDropdown($event)" class="account-link" id="my-account-btn">
            My Account
          </button>

          <div *ngIf="isDropdownOpen" class="dropdown-content">
            <div *ngIf="loading" class="dropdown-loading">Loading...</div>

            <div *ngIf="userData && !loading" class="user-info">
              <p class="user-name">{{ userData.firstName }} {{ userData.lastName }}</p>
              <p class="user-email">{{ userData.email }}</p>
              <p><strong>Account #:</strong> {{ accountNumber | uppercase }}</p>
              <p><strong>Phone:</strong> {{ formatPhoneNumber(userData.phone) }}</p>
              <p><strong>Company:</strong> {{ userData.company }}</p>
              <p><strong>Location:</strong> {{ userData.city }}, {{ userData.state }}</p>
              <button (click)="logout()" class="logout-button" id="logout">Logout</button>
            </div>
          </div>
        </div>

        <!-- moved out of .account-dropdown to keep items in one line -->
        <div class="contact">
          <a routerLink="/contact" class="contact-btn" id="contact">Contact</a>
        </div>
      </div>
    </div>
  </div>
</nav>
