<div class="form-container">
    <div>
        <h2 class="title">Enter Your Loan</h2>
    </div>
    <form [formGroup]="propertyForm" class="grid-form" (ngSubmit)="onSubmit()">

        <!-- Property Type Category -->
        <div class="form-group ">
            <label for="propertyTypeCategory">Property Type Category</label>
            <select id="propertyTypeCategory" formControlName="propertyTypeCategory" (change)="onCategoryChange($event)"
                [ngClass]="{'invalid': isInvalid('propertyTypeCategory')}">
                <option value="">-- Select Category --</option>
                <option *ngFor="let category of categoryKeys()" [value]="category">
                    {{ category }}
                </option>
            </select>
            <div *ngIf="isInvalid('propertyTypeCategory')" class="error-message">
                *Please select a category
            </div>
        </div>

        <!-- Property Sub-category -->
        <div class="form-group">
            <label for="propertySubCategory">Property Sub-category</label>
            <select id="propertySubCategory" formControlName="propertySubCategory"
                [ngClass]="{'invalid': isInvalid('propertySubCategory')}">
                <option value="">-- Select Sub-category --</option>
                <option *ngFor="let sub of selectedSubCategories()" [value]="sub">
                    {{ sub }}
                </option>
            </select>
            <div *ngIf="isInvalid('propertySubCategory')" class="error-message">
                *Please select a sub-category
            </div>
        </div>

        <!-- Transaction Type -->
        <div class="form-group">
            <label for="transactionType">Transaction Type</label>
            <select id="transactionType" formControlName="transactionType"
                [ngClass]="{'invalid': isInvalid('transactionType')}">
                <option value="">-- Select Transaction Type --</option>
                <option value="Purchase">Purchase</option>
                <option value="Refinance">Refinance</option>
            </select>
            <div *ngIf="isInvalid('transactionType')" class="error-message">
                *Please select a transaction type
            </div>
        </div>

        <!-- Loan Type -->
        <div class="form-group">
            <label for="loanType">Loan Type Requested</label>
            <select id="loanType" formControlName="loanType" [ngClass]="{'invalid': isInvalid('loanType')}">
                <option value="">-- Select Loan Type --</option>
                <option *ngFor="let type of loanTypes" [value]="type.value">{{ type.name }}</option>
            </select>
        </div>

        <!-- Loan Amount -->
        <div class="form-group">
            <label for="loanAmount">Loan Amount Requested ($)</label>
            <input type="text" id="loanAmount" formControlName="loanAmount" (input)="formatLoanAmount($event)"
                [ngClass]="{'invalid': isInvalid('loanAmount')}" />
            <div *ngIf="isInvalid('loanAmount')" class="error-message">
                *Enter a valid loan amount
            </div>
            <div *ngIf="hasError('loanAmount', 'required')" class="error-message">
                *Loan amount is required
            </div>
            <div *ngIf="hasError('loanAmount', 'minlength')" class="error-message">
                *Loan amount must be at least 6 digits
            </div>
        </div>

        <!-- Property Value -->
        <div class="form-group">
            <label for="propertyValue">Property Value ($)</label>
            <input type="text" id="propertyValue" formControlName="propertyValue" (input)="formatLoanAmount($event)"
                [ngClass]="{'invalid': isInvalid('propertyValue')}" />
            <div *ngIf="isInvalid('propertyValue')" class="error-message">
                *Enter a valid property value
            </div>
            <div *ngIf="hasError('propertyValue', 'required')" class="error-message">
                *Property value is required
            </div>
            <div *ngIf="hasError('propertyValue', 'minlength')" class="error-message">
                *Property value must be at least 6 digits</div>
        </div>

        <!-- LTV -->
        <div class="form-group">
            <label for="ltv">LTV (%)</label>
            <input type="text" id="ltv" formControlName="ltv" [ngClass]="{'invalid': isInvalid('ltv')}" />
            <div *ngIf="isInvalid('ltv')" class="error-message">
                *Enter a valid LTV
            </div>
        </div>

        <!-- NOI -->
        <div class="form-group">
            <label for="noi">NOI ($)</label>
            <input type="number" id="noi" formControlName="noi" placeholder="Optional" />
            <div *ngIf="isInvalid('noi')" class="error-message">
                *Enter a valid NOI
            </div>
        </div>

        <!-- City -->
        <div class="form-group">
            <label for="city">Property City</label>
            <input type="text" id="city" formControlName="city" [ngClass]="{'invalid': isInvalid('city')}" />
            <div *ngIf="isInvalid('city')" class="error-message">
                *City is required
            </div>
        </div>

        <!-- State -->
        <div class="form-group">
            <label for="state">Property State</label>
            <select id="state" formControlName="state" [ngClass]="{'invalid': isInvalid('state')}">
                <option value="">-- Select State --</option>
                <option *ngFor="let state of states()" [value]="state">
                    {{ state }}
                </option>
            </select>
            <div *ngIf="isInvalid('state')" class="error-message">
                *Please select a state
            </div>
        </div>

        <!-- Number of Sponsors -->
        <div class="form-group">
            <label for="numberOfSponsors">Number of Sponsors</label>
            <input type="text" id="numberOfSponsors" formControlName="numberOfSponsors"
                [ngClass]="{'invalid': isInvalid('numberOfSponsors')}" />
            <div *ngIf="isInvalid('numberOfSponsors')" class="error-message">
                *Enter number of sponsors
            </div>
        </div>

        <!-- Sponsors Liquidity-->
        <div class="form-group">
            <label for="sponsorsLiquidity">Sponsors Liquidity ($)</label>
            <input type="text" id="sponsorsLiquidity" formControlName="sponsorsLiquidity"
                (input)="formatLoanAmount($event)" [ngClass]="{'invalid': isInvalid('sponsorsLiquidity')}" />
            <div *ngIf="isInvalid('sponsorsLiquidity')" class="error-message">
                *Enter the Sponsors Liquidity
            </div>
            <div *ngIf="hasError('sponsorsLiquidity', 'required')" class="error-message">
                *Sponsors Liquidity is required
            </div>
            <div *ngIf="hasError('sponsorsLiquidity', 'minlength')" class="error-message">
                *Sponsors Liquidity must be at least 5 digits
            </div>
        </div>

        <!-- FICO -->
        <div class="form-group">
            <label for="sponsorFico">Sponsor(s) FICO</label>
            <input type="text" id="sponsorFico" formControlName="sponsorFico"
                [ngClass]="{'invalid': isInvalid('sponsorFico')}" />
            <div *ngIf="isInvalid('sponsorFico')" class="error-message">
                *Enter valid FICO score
            </div>
        </div>

        <!-- Experience -->
        <div class="form-group">
            <label for="experienceInYears">Sponsor Experience in Years</label>
            <input type="number" id="experienceInYears" formControlName="experienceInYears"
                [ngClass]="{'invalid': isInvalid('experienceInYears')}" />
            <div *ngIf="isInvalid('experienceInYears')" class="error-message">
                *Enter experience in years
            </div>
        </div>


        <!-- Notes -->
        <div class="form-group full-width">
            <label for="notes">Notes</label>
            <textarea id="notes" formControlName="notes" placeholder="Please add all relevant information here"
                rows="3"></textarea>
        </div>
        <div class="terms">
            <label>
                <input type="checkbox" formControlName="termsOfService">
                I agree to the <a href="/terms-of-service" target="_blank">Terms of Service</a>
            </label>
            <div *ngIf="isInvalid('termsOfService')" class="error-message">
                *You must agree to the Terms of Service
            </div>
        </div>

        <!-- Submit -->
        <div class="form-button">
            <button class="submit-form" type="submit" [disabled]="propertyForm.invalid">Submit Loan</button>
        </div>
        <!-- Success Message -->
        <div *ngIf="submissionSuccess()" class="success-message">
            <p>Loan submitted successfully!</p>
            <Button>Go to dashboard</Button>
        </div>
    </form>
</div>