/* interest-calculator.component.css */
.calculator-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.title {
  color: #02474d;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #002b4e;
  border-radius: 4px;
}

.term-selector {
  display: flex;
  gap: 10px;
}

.term-selector input {
  flex: 1;
}

.term-selector select {
  width: 120px;
}

button {
  display: block;
  width: 30%;
  padding: 10px;
  background-color: #002b4e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin: 0 auto;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message {
  color: #c00000;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 600;
}

.result {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #002b4e;
  border-radius: 4px;
}

.result-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.amortization-table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #272727;
}

th {
  background-color: #f2f2f2;
}
.contact-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
}
.contact-title {
  font-size: 2rem;
  font-family: 'roboto' sans-serif;
  color: #02474d;
  text-align: center;
}
.register-btn {
  font-size: 1.5rem;
  width: 20%;
  font-family: 'roboto' sans-serif;
  color: #fff;
  background-color: #02474d;
  text-align: center;
  padding: 8px 26px;
  border: none;
  border-radius: 6px;
}
.register-btn:hover {
  background-color: #002b4e; 
}