.login-container {
  max-width: 450px;
  margin: 10rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
}

.title,
h2 {
  text-align: center;
  font-family: "roboto", sans-serif;
  margin-bottom: 1.25rem;
  color: #0a2463;
}

.form-group {
  margin-bottom: 1.5rem;
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #0a2463;
  }

  input {
    width: 100%;
    padding: 0.875rem;
    border: 1px solid #0a2463;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.2s, box-shadow 0.2s;

    &:focus {
      outline: none;
      border-color: #4285f4;
      box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.2);
    }
  }

  .error-message {
    color: #c00000;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 500;
  }
}

.login-button {
  width: 100%;
  padding: 0.875rem;
  background-color: #0a2463;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;

  &:disabled {
    background-color: #cdcdcd;
    cursor: not-allowed;
  }
}

.secondary-button {
  background-color: #0a2463;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-family: "roboto", sans-serif;
  font-size: 1.1rem;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: #008080;
  }
}

.login-options {
  margin-top: 1.5rem;
  text-align: center;

  p {
    margin-bottom: 0.5rem;
    color: #0a2463;
    font-size: 1.1rem;
    font-family: "roboto", sans-serif;
  }

  a {
    color: #0a2463;
    text-decoration: none;
    font-weight: 500;
    font-family: "roboto", sans-serif;
    font-size: 1.3rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.success-message,
.verification-message,
.error-container {
  text-align: center;

  h3 {
    margin-bottom: 1rem;
    font-weight: 600;
  }

  button {
    display: inline-block;
    margin-top: 1rem;
  }

  .info-text {
    font-size: 0.875rem;
    color: #77838f;
    margin-top: 1rem;
    font-style: italic;
  }
}

.success-message h3 {
  color: #137333;
}

.login-text {
  color: #0a2463;
  font-family: "roboto", sans-serif;
  font-weight: 500;
}

.error-container h3 {
  color: #c00000;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #4285f4;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  margin: 1.5rem auto;
}
.google-signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #444;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.google-signin-button:hover {
  background-color: #ebf5fb;
}

.google-signin-button img {
  width: 20px;
  height: 20px;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
