<!-- src/app/components/navbar/navbar.component.html -->
<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="navbar-logo">
      <a routerLink="/">
        <img
          class="nav-image"
          src="assets/images/DLP_LOGO_Fav.webp"
          alt="DLP Logo"
        />
      </a>
    </div>

    <!-- Public Navigation -->
    <div class="navbar-actions">
      <div class="register">
        <a routerLink="/register" id="nav-register" class="nav-reg-btn">
          Register
        </a>
      </div>

      <div class="register">
        <a routerLink="/calculators" class="calc-btn">Calculators</a>
      </div>

      <div class="register">
        <a routerLink="/ebooks" id="ebooks-navbar" class="ebooks-btn">eBooks</a>
      </div>

      <div class="auth-links">
        <a routerLink="/login" class="login-btn" id="login">Log In</a>
        <a routerLink="/pricing" class="pricing" id="view-pricing">Pricing</a>
      </div>
    </div>
  </div>
</nav>
