<div class="terms-container">
    <h1 class="title">Understanding Mortgage Terminology</h1>
    <p class="exp-main">The mortgage industry is loaded with abbreviations, LTV, DTI, etc. This mortgage terminology
        guide explains the meanings of several words and abbreviations you’ll hear through the
        mortgage process. If we are missing anything, feel free to reach out to us using the contact form below
    </p>
    <h3 class="sub-title">Mortgage terminology in simple terms</h3>
    <p class="exp-main">
        Mortgages are loans that are taken out by individuals to purchase a home. When taking out a mortgage,
        the borrower agrees to pay back the loan over a set period of time, usually a period of 15 or 30 years.
        Mortgages also typically involve interest, meaning that the borrower pays back more than the initial loan
        amount. In order to qualify for a mortgage, the borrower will usually need to provide proof of income, a credit
        score, and a down payment. Additionally, the borrower will need to be approved by the lender and may need to pay
        closing costs and other fees.
    </p>
    <p class="exp-main">
        Note: All of these lending institutions offer these types of loans with multiple variations: Fannie Mae, Freddie
        Mac, HUD, FHA, and VA.
    </p>
    <h3 class="sub-title" id="terms">Here’s our list of Mortgage terminology</h3>
    <h4 class="main">Annual Income</h4>
    <p class="exp-main">
        Annual income is the total amount of money earned in one year pre-taxes, typically from wage or salary
        employment, investments, business profits, or other sources. Other sources of annual income can include
        part-time work, self-employment, tips, commissions, overtime, bonuses, alimony and child support payments,
        Social Security or
        disability benefits, pension payments, and income from rental properties or investments.
    </p>
    <h4 class="main">Annual Percentage Rate (APR)</h4>
    <p class="exp-main">
        The APR refers to the total cost of borrowing, expressed as an interest rate. That means not just the
        interest you’d pay. It includes the lender fees as well. The APR’s purpose is to make shopping for a mortgage
        easier. For instance, what’s a better deal — a 4.5 percent 30-year loan costing no points or fees, or a 4.0
        percent
        loan costing two points? APR can tell you. In this case, the APR for the first loan is 4.5 percent, and for the
        second mortgage, it’s
        4.165 percent.
    </p>
    <h4 class="main">Amount Financed</h4>
    <p class="exp-main">
        It means the amount of money you are borrowing from the lender, minus most of the upfront fees the lender is
        charging you.
    </p>
    <h4 class="main">Amortization</h4>
    <p class="exp-main">
        Amortization is the repayment of a loan — the allocation of interest and principal as you pay your loan each
        month. After the interest due is deducted by the servicer, the remaining amount of your payment goes toward
        reducing the principal balance. Each month, the balance is slightly lower, so less interest is due. Over time,
        more and more of your payment
        goes toward principal, and less is needed to cover interest, until your balance in zeroed and your loan is
        repaid.
    </p>
    <h4 class="main">Appraisal</h4>
    <p class="exp-main">
        An appraisal is a report prepared by a licensed appraiser. Mortgage lenders require it to determine the
        value of the property they are lending against.
    </p>
    <h4 class="main">Ability To Repay (ATR)</h4>
    <p class="exp-main">
        The ATR provision of the Dodd-Frank Act requires mortgage lenders to verify that borrowers can afford the
        payments when they are approved for a mortgage. The income must be verified by the lender.
    </p>
    <h4 class="main">Bi-weekly Payment</h4>
    <p class="exp-main">
        Traditional mortgage payments are made once a month. With bi-weekly payment your mortgage servicer will
        collect payments two times a month. The result is you’ll make 26 half payments or 13 full mortgage payments in a
        calendar year.
    </p>
    <h4 class="main">Closing Costs</h4>
    <p class="exp-main">These are the charges that buyers pay when they purchase property. They may include property
        transfer taxes, mortgage lender fees, fees to third party providers and to government</p>

    <h4 class="main">Closing Disclosures (CD)</h4>
    <p class="exp-main">This is your final set of documents when you close a mortgage. They replace the old HUD-1 form.
        These disclose the terms of your loan and its costs. It should match the most recent Loan Estimate that you
        received when you locked your interest rate.</p>

    <h4 class="main">Conventional Loan</h4>
    <p class="exp-main">A conventional loan is a type of mortgage loan that is not insured or guaranteed by the
        government. It is typically offered by a private lender.</p>

    <h4 class="main">Co-Borrower</h4>
    <p class="exp-main">A co-borrower is a person who jointly applies for a loan with another person or group and takes
        on responsibility for repaying the debt. A co-borrower can be a spouse, family member, friend, or business
        partner. A co-borrower is someone who agrees to take full responsibility to pay back a mortgage loan with you.
        This person is obligated to pay any missed payments and even the full amount of the loan if you don't pay.</p>

    <h4 class="main">Credit History</h4>
    <p class="exp-main">A credit history is a record of a person's borrowing and repaying habits. It shows how a person
        has handled their financial obligations, including loan repayments, credit cards, and other lines of credit. The
        credit history is often used to evaluate a person's creditworthiness when applying for a loan or other type of
        credit.</p>

    <h4 class="main">Credit Report</h4>
    <p class="exp-main">A credit report is a statement from a credit reporting agency that outlines an individual's
        credit history, including their borrowing and payment activities, and is used to assess the individual's
        creditworthiness. It typically includes information such as an individual's name and address, their credit
        accounts and related payment histories, public records, inquiries, and more.</p>

    <h4 class="main">Debt-To-Income Ratio (DTI)</h4>
    <p class="exp-main">This is the relationship between your income and monthly debt payments. It's your debts like
        mortgage payments, auto loan payments, student loans, credit cards, etc., divided by your gross (before tax)
        income. Mortgage lenders prefer DTIs under 41 percent.</p>

    <h4 class="main">Deed-in-lieu of foreclosure</h4>
    <p class="exp-main">A deed-in-lieu of foreclosure is a voluntary act in which a borrower signs over their title of a
        property to a lender of the mortgage, to avoid a foreclosure. The lender agrees to release any debt the borrower
        may have to them in exchange for the deed. This is usually a last resort when all other methods of avoiding
        foreclosure have been exhausted. It is a type of loss mitigation.</p>

    <h4 class="main">Demand Feature</h4>
    <p class="exp-main">A demand feature permits the lender to require early repayment of the loan. Another term for the
        demand is for the lender to "call the loan". This is something rare in the mortgage industry.</p>

    <h4 class="main">Down Payment</h4>
    <p class="exp-main">This is the amount you pay toward your property purchase. For a 90 percent loan, you'd put ten
        percent of the purchase price down. Some loans require as little as 3.5 percent, three percent or even zero
        percent down.</p>

    <h4 class="main">Earnest Money Deposit</h4>
    <p class="exp-main">An earnest money deposit is a deposit made by the prospective buyer of a property to demonstrate
        good faith in the transaction and bind the parties to the purchase contract. It is usually held by the seller's
        real estate broker or escrow agent as security for the performance of the contract. If the contract is
        terminated for a permissible reason, the earnest money is returned to the buyer. If the buyer does not perform
        in good faith, the earnest money may be forfeited and paid out to the seller.</p>

    <h4 class="main">Equity</h4>
    <p class="exp-main">Equity is the difference between amount you owe on the home versus the homes value. Value –
        Mortgage Balance = Equity.</p>

    <h4 class="main">Escrow</h4>
    <p class="exp-main">Escrow can mean two things. First, it's a process through which payments to and from all parties
        in a real estate are collected and distributed. Down payments, earnest money, closing costs, real estate
        commissions, etc., all pass through the escrow account. The second definition of escrow is money that your
        mortgage lender collects with your monthly payment for property taxes and homeowners insurance. The lender then
        pays these on your behalf as they become due.</p>

    <h4 class="main">FICO AKA Credit Score</h4>
    <p class="exp-main">This is the most commonly used credit scoring method. You can get a FICO score from any of the
        three major credit bureaus: TransUnion, Experian and Equifax.</p>

    <h4 class="main">Finance Charge</h4>
    <p class="exp-main">A finance charge is any fee or additional cost added to a loan or line of credit, such as an
        interest charge or late fee. It is the total amount of money a borrower must pay for the privilege of borrowing
        money.</p>

    <h4 class="main">Forbearance</h4>
    <p class="exp-main">Forbearance is when a lender/servicer agrees to allow a borrower to temporarily make reduced
        payments or even pause payments altogether without penalty due to extenuating circumstances. if, for example,
        you recently lost your job, suffered from a disaster, or from an illness or injury that increased your health
        care costs. It is a type of loss mitigation</p>

    <h4 class="main">Foreclosure</h4>
    <p class="exp-main">Foreclosure is a legal process in which a lender attempts to recover the balance of a loan from
        a borrower who has stopped making payments to the lender by forcing the sale of the asset used as the collateral
        for the loan. Some states require the lender to go to court to foreclose on your property (judicial
        foreclosure), but other states do not require a court process (non-judicial foreclosure). Generally, borrowers
        must be notified if the lender or servicer begins foreclosure proceedings.</p>

    <h4 class="main">HOA</h4>
    <p class="exp-main">HOA dues are fees paid by homeowners to a homeowners' association. These dues are typically used
        to fund maintenance, infrastructure improvements, and other services such as security or other amenities. They
        usually found in a home with a planned subdivision, condo, or co-op.</p>

    <h4 class="main">Home Equity</h4>
    <p class="exp-main">The difference between the property value and the total of all mortgage balances against it is
        called home equity. Over time, you add equity by paying down your mortgage. As the property value increases, you
        also add to your home equity.</p>

    <h4 class="main">Home equity line of credit (HELOC)</h4>
    <p class="exp-main">Think of it like a "credit card" for your home. The loan amount is based on the equity in your
        home. It is typically an adjustable rate with a specific draw period. When the "draw period" ends, you will no
        longer be able to borrow money from your line of credit. After the "draw period" ends you may be required to pay
        off your balance all at once or you may be allowed to repay over a certain period.</p>

    <h4 class="main">Home Inspection</h4>
    <p class="exp-main">A home inspection is a comprehensive assessment of a residential property, typically conducted
        by a certified or licensed professional. It is used to identify any potential issues or deficiencies with the
        property to ensure it meets local and state building codes. A home inspection typically covers the structure,
        roofing, plumbing, electrical, and heating and cooling systems of the property. It is normally part of the home
        buying process.</p>

    <h4 class="main">Homeowners Insurance</h4>
    <p class="exp-main">Homeowners insurance is a type of property insurance that covers a private residence. It covers
        damage or loss by theft, fire and other such perils, as well as liability for injuries or damage to other
        people’s property on the property. Homeowners insurance often includes coverage for additional living expenses
        if you are temporarily unable to live in your home due to a covered loss.</p>

    <h4 class="main">Interest Rate</h4>
    <p class="exp-main">An interest rate is the cost for borrowing money, typically expressed as a percentage of the
        principal loan amount. It is the rate a lender charges for the use of assets expressed as a percentage of the
        principal. Interest rates can be fixed or variable and vary from lender to lender.</p>

    <h4 class="main">1099 Independent Contractor</h4>
    <p class="exp-main">Independent Contractor (1099) A 1099 is a tax form used to report payments made to independent
        contractors and other non-employee service providers. The 1099 form is issued by the payer to the recipient, who
        then reports the income on their tax return. Recipients of 1099 forms must report the income on their tax
        returns, as it is considered taxable income. They operate in a similar fashion to self-employed borrowers.</p>

    <h4 class="main">Loan Estimate</h4>
    <p class="exp-main">This preliminary disclosure replaced the old Good Faith Estimate (GFE). It discloses the rate
        and terms of the home loan including the costs involved. You should get one within three days of applying for a
        mortgage, and updated estimates when there are major in loan terms.</p>

    <h4 class="main">Loan Modification</h4>
    <p class="exp-main">Loan modification is a process that allows homeowners to get a more affordable mortgage by
        changing the terms of the original loan. This includes getting a lower interest rate or extending the loan term.
        The loan modification process involves working with a loan servicer and submitting an application. The servicer
        may then review the homeowner’s financial information to determine if they are eligible for a loan modification.
        If approved, the servicer will adjust the loan terms to make payments more affordable.</p>

    <h4 class="main">Loan-To-Value Ratio</h4>
    <p class="exp-main">Loan-to-value, or LTV, refers to the relationship between a property’s sales price or appraised
        value and the amount of loans against it. It’s the mortgage balance / the property value. So a $100,000 house
        with a $90,000 mortgage against it has an LTV of 90 percent. When there is more than one loan involved, perhaps
        a first and second mortgage, the calculation is called the combined loan-to-value, or CLTV.</p>

    <h4 class="main">Loss Mitigation</h4>
    <p class="exp-main">Loss mitigation for a mortgage is a process where lenders work with borrowers who are having
        difficulty making their monthly mortgage payments. The goal of the loss mitigation process is to help borrowers
        find solutions that allow them to keep their home and remain current on their loan obligations. Common options
        include loan modifications, repayment plans, forbearance agreements and deed in lieu of foreclosure Certain
        loss-mitigation options may help you stay in your home. Other options may help you leave your home without going
        through foreclosure.</p>

    <h4 class="main">Mortgage</h4>
    <p class="exp-main">A mortgage is a loan secured by real estate that is used to purchase a property. The borrower
        agrees to make regular payments to the lender, which includes both principal and interest, in exchange for
        ownership of the property. Different types of mortgage loan options can be found here: Mortgage Loan Options.
    </p>

    <h4 class="main">Mortgage Insurance</h4>
    <p class="exp-main">Mortgage insurance is a type of insurance policy that helps to protect the lender or financial
        institution in case the borrower defaults on their mortgage payments. This type of insurance may be required if
        the borrower has a low down payment or a high loan-to-value ratio. It can either be provided by a private
        insurer or the federal government. Typically required on mortgages with less than 20% down.</p>

    <h4 class="main">Origination Fee</h4>
    <p class="exp-main">This fee covers the lender charges associated with originating, processing, underwriting, and
        funding a home loan. It is often expressed as a percentage of the loan amount.</p>

    <h4 class="main">PITI</h4>
    <p class="exp-main">Principal, interest, taxes, and insurance combined to form your total mortgage payment. Used for
        qualification purposes.</p>

    <h4 class="main">Prepaid Interest Charges</h4>
    <p class="exp-main">Prepaid interest charges are fees paid in advance for a loan or a mortgage agreement. These
        charges cover the interest that is due for the period prior to the first payment. If you close on a mortgage in
        January, you will most likely make your first mortgage payment in March. The prepaid interest will cover the
        time frame between closing and the first payment due date.</p>

    <h4 class="main">Prepayment Penalty</h4>
    <p class="exp-main">A prepayment penalty is a fee that some lenders charge if you pay off all or part of your loan
        before the agreed-upon date. This penalty is designed to offset the potential financial losses the lender may
        incur from early repayment of the loan. Not all mortgages have a prepayment penalty.</p>

    <h4 class="main">Points</h4>
    <p class="exp-main">Also called “discount points,” these are additional, optional fees that borrowers can pay to
        reduce, or “buy down” their mortgage rates. To get the lowest possible rate, you have to pay higher costs. A
        mortgage calculator can help you determine if it’s worth paying points to get a lower rate and payment.</p>

    <h4 class="main">Principal Balance</h4>
    <p class="exp-main">This is the amount you borrow. Over time, you pay this off with monthly payments.</p>

    <h4 class="main">Private Mortgage Insurance (PMI)</h4>
    <p class="exp-main">Mortgage lenders often require borrowers to pay for PMI when they put less than 20 percent down
        on a property purchase or have less than 20 percent equity for a refinance. This policy protects the lender if
        you default (fail to repay your mortgage as agreed). When you have at least 20 percent equity, you can often
        drop this coverage. When you take a government-backed loan like the FHA mortgage, this insurance is called MIP,
        or mortgage insurance premium.</p>

    <h4 class="main">Reverse Mortgage</h4>
    <p class="exp-main">A reverse mortgage is a loan for senior homeowners, 62 or older, that allows them to convert
        part of their home equity into cash. With a reverse mortgage, the borrower does not need to make regular loan
        payments but instead receives funds from the lender in a lump sum, monthly payment, or line of credit. Reverse
        mortgages can be a good financial planning tool for those who wish to remain independent and age in place.</p>

    <h4 class="main">Right of Rescission</h4>
    <p class="exp-main">A right of rescission is a legal right that allows a person to cancel a contract and restore the
        parties involved to their original positions. This right typically exists for a certain period of time, usually
        three days for mortgage transactions. It offers consumers the right to cancel certain types of loans.</p>

    <h4 class="main">Short Sale</h4>
    <p class="exp-main">A short sale is a transaction in which the seller’s mortgage lender allows the seller to sell
        the property for less than what is owed on the existing mortgage loan. The lender will generally agree to a
        short sale if the seller is unable to continue making their mortgage payments and can demonstrate financial
        hardship. It is a type of loss mitigation.</p>

    <h4 class="main">Term</h4>
    <p class="exp-main">Different loan terms are available based on product and need. A 30-year fixed-rate mortgage is
        the most widely used. Other available fixed-rate terms such as 25-year, 20-year, 15-year, and 10-year are also
        common.
        Uncommon loan terms are associated with a hybrid loan such as an adjustable-rate mortgage that converts over to
        a fixed-rate loan. Other uncommon terms are where a lender will allow you to tailor your loan term. An example
        of this is a 23-year fixed-rate mortgage, tailored to and requested by the individual borrower.</p>

    <h4 class="main">2/1 Buydown</h4>
    <p class="exp-main">A 2/1 buydown is a feature of a mortgage; not all mortgage products offer this. It is a
        concession that is offered by a seller or a builder. The buyer will get a payment rate reduction equal to 2%
        lower than the interest rate for the first 12 months. The payment rate reduction becomes 1% less than the
        interest rate for the second 12 months. It is not an interest rate reduction but a payment rate reduction. The
        seller covers the cost of the payment rate reduction for the two years. There are variations as well, such as a
        3-2-1 buydown.</p>

    <h4 class="main">Title Insurance</h4>
    <p class="exp-main">Title insurance protects you and your lender from legal issues that may compromise your
        ownership of a property. For example, if you bought a foreclosure home and it turns out the lender had no right
        to foreclose, you might lose your home. Most lenders require that you buy a lender’s policy to protect their
        interest. You can protect your own equity by also purchasing an owner’s policy.</p>
    <section id="contact">
        <p class="form-text">Additional questions? Get in touch:</p>
        <p id="phone">Phone: (919) 213-8655</p>
    </section>
</div>
