<h1 class="title">Advanced Mortgage Calculators</h1>

<div class="button-container">
    <div class="card">
        <div class="card-title">
            <h2>Balloon Calculator</h2>
        </div>
        <div class="card-content">
            <p>The Balloon Calculator helps borrowers estimate their final balloon payment, which is a large lump sum
                due at the end of a loan term after smaller monthly payments have been made during the loan’s life.
                Balloon payments are common in certain types of loans, like commercial or short-term mortgages.</p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/balloon-calculator']" class="card-button">Calculate Now</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h2>Breakeven Calculator</h2>
        </div>
        <div class="card-content">
            <p>The Breakeven Calculator helps property investors determine the point at which a property’s income equals
                its expenses, meaning there is neither a profit nor a loss. This is useful to calculate the minimum
                occupancy rate or revenue needed to cover all expenses.</p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/breakeven-calculator']" class="card-button">Calculate Now</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h2>Cap Rate Calculator</h2>
        </div>
        <div class="card-content">
            <p>The Cap Rate (Capitalization Rate) Calculator helps real estate investors determine the expected return
                on an investment property based on its income and value. It's commonly used to assess the potential
                profitability of a property.</p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/cap-rate-calculator']" class="card-button">Calculate Now</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h2>DSCR Calculator</h2>
        </div>
        <div class="card-content">
            <p>The DSCR (Debt Service Coverage Ratio) Calculator helps lenders and investors assess whether a
                property’s income is sufficient to cover its debt payments. The ratio compares a property’s Net
                Operating Income (NOI) to its debt service (loan payments).</p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/dscr-calculator']" class="card-button">Calculate Now</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h2>Fix and Flip Profit Calculator</h2>
        </div>
        <div class="card-content">
            <p>The Fix and Flip Profit Calculator helps real estate investors estimate potential profits by factoring in
                purchase price, rehab costs, and after-repair value (ARV). It reduces risk by identifying thin margins.
            </p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/fix-flip-calculator']" class="card-button">Calculate Now</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h2>Interest Only Calculator</h2>
        </div>
        <div class="card-content">
            <p>The Interest-Only (IO) Calculator helps borrowers determine their monthly payments for a loan during the
                interest-only period, where only interest is paid and not principal. The IO calculator helps borrowers
                estimate their monthly
                payments before transitioning to full amortization.</p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/interest-only-calculator']" class="card-button">Calculate Now</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h2>IRR Calculator</h2>
        </div>
        <div class="card-content">
            <p>The (IRR) Calculator helps investors estimate the profitability of a real estate investment by
                determining the annualized rate of return over time, considering cash flows and the property's eventual
                sale.</p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/irr-calculator']" class="card-button">Calculate Now</a>
        </div>
    </div>
     <div class="card">
        <div class="card-title">
            <h2>Loan Payment Calculator</h2>
        </div>
        <div class="card-content">
            <p>The Payment Calculator helps borrowers estimate their monthly mortgage or loan payment based on the
                loan amount, interest rate, and loan term. Its commonly used to calculate the payment of any Commercial
                loan or mortgage including
                Pricipal, Interest, Taxes and Insurance.</p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/mortgage-calculator']" class="card-button">Calculate Now</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h2>Loan to Value Calculator</h2>
        </div>
        <div class="card-content">
            <p>The LTV (Loan-to-Value) Calculator helps borrowers and lenders determine the percentage of a property's
                value being financed by a loan.</p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/ltv-calculator']" class="card-button">Calculate Now</a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h2>NOI Calculator</h2>
        </div>
        <div class="card-content">
            <p>The NOI (Net Operating Income) Calculator helps investors and property managers determine the
                profitability
                of a property by calculating its income after operating expenses, excluding debt payments and taxes.</p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/noi-calculator']" class="card-button">Calculate Now</a>
        </div>
    </div>
</div>
