.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
}

.modal-box h2 {
  color: #0a2463;
  margin-bottom: 12px;
  font-size: 2.25rem;
  font-family: 'roboto', sans-serif}
 
 .content{
  font-size: 1.2rem;
  font-family: 'roboto', sans-serif
  }

.modal-box button {
  background-color: #0a2463;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.3rem;
  font-family: 'roboto', sans-serif;
}

