/* Footer CSS */

.content {
  flex: 1;
}

footer {
  position: relative;
  background-color: #272727;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-family: "roboto";
  width: 100%;
}
