/* Footer CSS */

.content {
  flex: 1;
}

footer {
  background-color: #272727;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-family: "roboto";
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
}
