<footer>
    <div class="footer-container">
        <!-- Left Column -->
        <div class="footer-column">
            <p class="email"><a href="mailto:sales@dailyloanpost.com">Contact Sales</a></p>
            <p class="email"><a href="mailto:support@dailyloanpost.com">Contact Support</a></p>
        </div>

        <!-- Middle Column -->
        <div class="footer-column center">
            <p class="middle">© 2025 Daily Loan Post. All rights reserved.</p>
        </div>

        <!-- Right Column (blank for now) -->
        <div class="footer-column"></div>
    </div>
</footer>