.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 250px;
  background-color: #272727;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* LEFT COLUMN */
.footer-column.left {
  align-items: flex-start;
}

/* CENTER COLUMN */
.footer-column.center {
  align-items: center;
  text-align: center;
}

/* RIGHT COLUMN (can be left empty) */
.footer-column.right {
  align-items: flex-end;
}

/* LINKS */
.footer-column a.email {
  color: #cdcdcd;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: left;
}

/* CENTER TEXT */
.footer-column.center p {
  color: #cdcdcd;
  margin: 0;
}
